@inherits LayoutComponentBase
@inject IDispatcher dispatcher
<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code{ 

    protected override void OnInitialized()
    {
        base.OnInitialized();
        dispatcher.Dispatch(new OnStartChatHubAction());
    }
}

