@page "/profile"
@inject NavigationManager nav
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
        <h1>Hello, world!</h1>

        Welcome to your new app.

        <SurveyPrompt Title="How is Blazor working for you?" />
    </Authorized>
</AuthorizeView>

@code{ 
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var user = await authenticationState;

        if (!user.User.Identity.IsAuthenticated)
            nav.NavigateTo("/");
    }
}

